input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

button {
  border-radius: 6px;
  padding: 15px 40px;
  width: 100%;
  background: #2e2ed5;
  color: #fff;
  font-size: 22px;
  border: 0;
}

.choose-your-lang {
  margin-top: 30px;
  .title {
    margin-top: 10px;
    display: inline-block;
  }
}

[nbButton][disabled], [disabled][nbButtonToggle], [nbButton].btn-disabled, .btn-disabled[nbButtonToggle] {
  background-color: #cbcbcb;
  border-color: var(--button-filled-primary-border-color);
  color: #535353;
}
