@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';



@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();

};

/*Zeyad: Custom login page*/
.navigation .link nb-icon, nb-login .another-action {
  display: none !important;
}

.rtl {
  direction: rtl !important;
  --font-family-primary: 'Tajawal';
  text-align: right;
  /*
  .row {
    flex-direction: row-reverse;
  }*/
}

[dir=rtl] {
  text-align: right;
}

.arabic {
  font-family:'Tajawal';
}

.english {
  font-family:'Open Sans';
}

.has-error {
  color: nb-theme(color-danger-default);
}


.rtl .toastr-overlay-container.cdk-global-overlay-wrapper {
  justify-content: flex-end !important;
}
