<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()"><span>Gymfiy</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-select-label  [innerHtml]="'theme.' + currentTheme | translate">
    </nb-select-label>
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ 'theme.' +theme.value | translate }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item change-lang" (click)="changeLanguage(this.translate.currentLang)">
      <span *ngIf="this.translate.currentLang == 'ar'" class="english">English</span>
      <span *ngIf="this.translate.currentLang == 'en'" class="arabic">عربي</span>
    </nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action>
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.firstName + ' ' + user?.lastName"
               [picture]="'assets/images/user.png'">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>